<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="/css/style.css" rel="stylesheet"/>
<title>Insert New Console</title>
</head>
<body>
	<form th:object="${newConsole}" th:action="@{/update/{id}(id=${newConsole.id})}" method='POST'>
		Make: <br/>
		<input name="make" size="20" th:field="*{make}"><br />
		Model: <br/>
		<input name="model" size="20" th:field="*{model}"><br />
		Price: <br/>
		<input name="price" size="20" th:field="*{price}"><br />
		<input name="submit" type="submit" value="submit"/>
	</form>
<a href="/viewAll">View all Consoles</a>
</body>
</html>